autoai.json
[{"id":"32885060.59c52","type":"tab","label":"autoai","disabled":false,"info":""},{"id":"751bb3fe.8e756c","type":"http request","z":"32885060.59c52","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":100,"wires":[["5903a8ac.351508"]]},{"id":"5903a8ac.351508","type":"function","z":"32885060.59c52","name":"Pre Prediction","func":"var RDSpend = global.get('RDSpend')\nvar Administration = global.get('Administration')\nvar MarketingSpend = global.get('MarketingSpend')\nvar State = global.get('State')\nvar token=msg.payload.access_token\nvar instance_id=\"48cbe388-670e-4d65-a466-a2db7eea7000\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"RDSpend\", \"Administration\", \"MarketingSpend\", \"State\"], \"values\": [[RDSpend,Administration,MarketingSpend,State]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["9c532f60.f9f12"]]},{"id":"9c532f60.f9f12","type":"http request","z":"32885060.59c52","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/b92d4117-202a-4fd9-85f4-ef6dd57d8118/predictions","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":180,"wires":[["1938173.1f87ae9"]]},{"id":"24d07fc3.dc648","type":"ui_text","z":"32885060.59c52","group":"f3c52f0f.1a398","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":40,"wires":[]},{"id":"1938173.1f87ae9","type":"function","z":"32885060.59c52","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["24d07fc3.dc648","106b2799.b32ba8"]]},{"id":"e233435.42af6c","type":"ui_form","z":"32885060.59c52","name":"","label":"","group":"f3c52f0f.1a398","order":1,"width":0,"height":0,"options":[{"label":"RDSpend","value":"RD","type":"number","required":true,"rows":null},{"label":"Administration","value":"A","type":"number","required":true,"rows":null},{"label":"MarketingSpend","value":"MS","type":"number","required":true,"rows":null},{"label":"State","value":"ST","type":"text","required":true,"rows":null}],"formValue":{"RD":"","A":"","MS":"","ST":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["e1d0ec96.e6ec3"]]},{"id":"e1d0ec96.e6ec3","type":"function","z":"32885060.59c52","name":"","func":"global.set(\"RDSpend\",msg.payload.RD)\nglobal.set(\"Administration\",msg.payload.A)\nglobal.set(\"MarketingSpend\",msg.payload.MS)\nglobal.set(\"State\",msg.payload.ST)\nvar apikey=\"JXdm79pWxMVQcrPILnsnEG4xzeGjDeq-rJI9AYZQEv3e\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":160,"wires":[["751bb3fe.8e756c"]]},{"id":"13e5ddf9.18ff52","type":"http in","z":"32885060.59c52","name":"","url":"/insert","method":"get","upload":false,"swaggerDoc":"","x":60,"y":400,"wires":[["a0bae36e.3db1c"]]},{"id":"5b003f0.04e72c","type":"http response","z":"32885060.59c52","name":"","statusCode":"","headers":{},"x":470,"y":380,"wires":[]},{"id":"a0bae36e.3db1c","type":"function","z":"32885060.59c52","name":"","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":380,"wires":[["5b003f0.04e72c","970ad864.69c9b8","47161ae2.055e04"]]},{"id":"970ad864.69c9b8","type":"debug","z":"32885060.59c52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":440,"wires":[]},{"id":"47161ae2.055e04","type":"json","z":"32885060.59c52","name":"","property":"payload","action":"","pretty":false,"x":350,"y":440,"wires":[["970ad864.69c9b8"]]},{"id":"479adf2f.c5508","type":"function","z":"32885060.59c52","name":"","func":"msg.payload={\"output\":global.get(\"output\")}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":520,"wires":[["e41466eb.a478f8"]]},{"id":"d64ab7ad.b699a8","type":"http in","z":"32885060.59c52","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":110,"y":520,"wires":[["479adf2f.c5508"]]},{"id":"e41466eb.a478f8","type":"http response","z":"32885060.59c52","name":"","statusCode":"","headers":{},"x":480,"y":540,"wires":[]},{"id":"106b2799.b32ba8","type":"debug","z":"32885060.59c52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260,"y":300,"wires":[]},{"id":"f3c52f0f.1a398","type":"ui_group","z":"","name":"prediction","tab":"79df1171.aa3e6","order":1,"disp":true,"width":"6","collapse":false},{"id":"79df1171.aa3e6","type":"ui_tab","z":"","name":"Prediction ","icon":"dashboard","disabled":false,"hidden":false}]