node_red_life.json
[{"id":"ae0f7875.b841e8","type":"tab","label":"autoai","disabled":false,"info":""},{"id":"9624984d.3078a8","type":"ui_form","z":"ae0f7875.b841e8","name":"","label":"","group":"947ba90f.fbce08","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"cntry","type":"text","required":true,"rows":null},{"label":"Year","value":"yr","type":"number","required":true,"rows":null},{"label":"Status","value":"s","type":"text","required":true,"rows":null},{"label":"AdultMortality","value":"am","type":"number","required":true,"rows":null},{"label":"infantdeaths","value":"id","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"acl","type":"number","required":true,"rows":null},{"label":"percentageexpenditure","value":"ex","type":"number","required":true,"rows":null},{"label":"HepatitisB","value":"hb","type":"number","required":true,"rows":null},{"label":"Measles ","value":"m","type":"number","required":true,"rows":null},{"label":" BMI ","value":"bmi","type":"number","required":true,"rows":null},{"label":"under-fivedeaths ","value":"fd","type":"number","required":true,"rows":null},{"label":"Polio","value":"p","type":"number","required":true,"rows":null},{"label":"Totalexpenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"dpt","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"aids","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"popn","type":"number","required":true,"rows":null},{"label":" thinness1-19years","value":"t1","type":"number","required":true,"rows":null},{"label":" thinness5-9years","value":"t2","type":"number","required":true,"rows":null},{"label":"Incomecompositionofresources","value":"ic","type":"number","required":true,"rows":null},{"label":"Schooling","value":"schl","type":"number","required":true,"rows":null}],"formValue":{"cntry":"","yr":"","s":"","am":"","id":"","acl":"","ex":"","hb":"","m":"","bmi":"","fd":"","p":"","te":"","dpt":"","aids":"","gdp":"","popn":"","t1":"","t2":"","ic":"","schl":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":220,"wires":[["87f8ff86.b3cb4","4172adc3.c5e8b4"]]},{"id":"dc48fc96.09bc6","type":"debug","z":"ae0f7875.b841e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":180,"wires":[]},{"id":"87f8ff86.b3cb4","type":"function","z":"ae0f7875.b841e8","name":"","func":"global.set(\"Country\",msg.payload.cntry)\nglobal.set(\"Year\",msg.payload.yr)\nglobal.set(\"Status\",msg.payload.s)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"acl\",msg.payload.acl)\nglobal.set(\"ex\",msg.payload.ex)\nglobal.set(\"hb\",msg.payload.hb)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"fd\",msg.payload.fd)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"dpt\",msg.payload.dpt)\nglobal.set(\"aids\",msg.payload.aids)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"popn\",msg.payload.popn)\nglobal.set(\"t1\",msg.payload.t1)\nglobal.set(\"t2\",msg.payload.t2)\nglobal.set(\"ic\",msg.payload.ic)\nglobal.set(\"schl\",msg.payload.schl)\nvar apikey=\"1LDAn6twPZNaobp_z3eX-ZEugOzyz0RGUmE4pCxbV67N\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":240,"wires":[["dc48fc96.09bc6","3598dd1d.3210c2"]]},{"id":"3598dd1d.3210c2","type":"http request","z":"ae0f7875.b841e8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":420,"wires":[["df8ad19c.62575"]]},{"id":"4172adc3.c5e8b4","type":"debug","z":"ae0f7875.b841e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":60,"wires":[]},{"id":"df8ad19c.62575","type":"function","z":"ae0f7875.b841e8","name":"Pre Prediction","func":"var Country = global.get(\"Country\")\nvar Year=global.get(\"Year\")\nvar Status=global.get(\"Status\")\nvar am=global.get(\"am\")\nvar id=global.get(\"id\")\nvar acl=global.get(\"acl\")\nvar ex=global.get(\"ex\")\nvar hb=global.get(\"hb\")\nvar m=global.get(\"m\")\nvar bmi=global.get(\"bmi\")\nvar fd=global.get(\"fd\")\nvar p=global.get(\"p\")\nvar te=global.get(\"te\")\nvar dpt=global.get(\"dpt\")\nvar aids=global.get(\"aids\")\nvar gdp=global.get(\"gdp\")\nvar popn=global.get(\"popn\")\nvar t1=global.get(\"t1\")\nvar t2=global.get(\"t2\")\nvar ic=global.get(\"ic\")\nvar schl=global.get(\"schl\")\nvar token=msg.payload.access_token\nvar instance_id=\"20cb9e20-a917-4dd4-9dce-09415bddd5f8\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"am\",\"id\",\"acl\",\"ex\",\"hb\",\"m\",\"bmi\",\"fd\",\"p\",\"te\",\"dpt\",\"aids\",\"gdp\",\"popn\",\"t1\",\"t2\",\"ic\",\"schl\"], \"values\": [[Country,Year,Status,am,id,acl,ex,hb,m,bmi,fd,p,te,dpt,aids,gdp,popn,t1,t2,ic,schl]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":420,"wires":[["2c4a86ca.12c0ea","531564.0f1e9a9c"]]},{"id":"2c4a86ca.12c0ea","type":"debug","z":"ae0f7875.b841e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":420,"wires":[]},{"id":"531564.0f1e9a9c","type":"http request","z":"ae0f7875.b841e8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/5a4b954d-cec6-4bd8-b210-564e15234f59/predictions","tls":"","persist":false,"proxy":"","authType":"","x":931.765625,"y":514.75,"wires":[["3d99bb08.23d7c4"]]},{"id":"3d99bb08.23d7c4","type":"function","z":"ae0f7875.b841e8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":460,"wires":[["e9ad9db5.0388d","e42a468.01e72b8"]]},{"id":"e42a468.01e72b8","type":"debug","z":"ae0f7875.b841e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":560,"wires":[]},{"id":"e9ad9db5.0388d","type":"ui_text","z":"ae0f7875.b841e8","group":"947ba90f.fbce08","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1100,"y":260,"wires":[]},{"id":"947ba90f.fbce08","type":"ui_group","z":"","name":"Default","tab":"5eb819d.bfdf2e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5eb819d.bfdf2e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]